In [1]:
import numpy as np
import pandas as pd

In [2]:
import mysql.connector

conn = mysql.connector.connect(  # Connecting to MySQL database
    host='localhost',
    user='root',
    password=''
)

cursor = conn.cursor()

cursor.execute(""" CREATE DATABASE IF NOT EXISTS test_db""")

cursor.execute(""" USE test_db""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS users (
               id INT AUTO_INCREMENT PRIMARY KEY,
               name VARCHAR (100),
               email VARCHAR (100)
)
""")

cursor.execute(""" INSERT INTO users (name, email) VALUES ('Aryam', 'aryambajracharya00@gmail.com')""")
cursor.execute(""" INSERT INTO users (name, email) VALUES ('Sanjay', 'sanj69@gmail.com')""")
cursor.execute("""INSERT INTO users (name, email) VALUES('Bibek', 'btarung469@gmail.com')""")

conn.commit()

cursor.execute(""" SELECT * FROM users""")
for row in cursor.fetchall():
    print(row)

# cursor.close()
# conn.close()

(1, 'Aryam', 'aryambajracharya00@gmail.com')
(2, 'Sanjay', 'sanj69@gmail.com')
(3, 'Bibek', 'btarung469@gmail.com')

In [3]:
cursor.execute("""SELECT * FROM users WHERE name = 'Aryam'""")
print(cursor.fetchall())

[(1, 'Aryam', 'aryambajracharya00@gmail.com')]